:root {
  --primary-color: #757575;
  --title-and-btn-color: #212121;
  --secondary-bgd-color: #f5f4fa;
  --footer-bgd-color: #2f303a;
  --accent-color: #2196f3;
  --hero-btn-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --footer-contacts-color: #ffffff60;
  --primary-black-color: #000000;
  --button-bgd-color: #f5f4fa;
  --networks-icon-color: #afb1b8;
  --border-color: #eeeeee;
  --footer-networks-bgd-color: rgba(255, 255, 255, 0.1);
  --accent-portfolio-bg-color: rgba(33, 150, 243, 0.9);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

body {
  color: var(--primary-color);
  background-color: var(--primary-white-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin-top: 0;

  color: var(--title-and-btn-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  /* outline: 2px solid tomato ; */
}

.container.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container.no-padding-top {
  padding-top: 0;
}

.container.no-padding-bottom {
  padding-bottom: 0;
}

/* -----Buttons!----- */

.button {
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  border-width: 0;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button.hero-button {
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary {
  padding: 6px 22px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.secondary {
  padding: 6px 22px;

  color: var(--title-and-btn-color);
  background-color: var(--button-bgd-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit {
  position: relative;

  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  text-align: left;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-btn-subscribe {
  position: absolute;
  right: 13px;
  bottom: 50%;
  transform: translate(-50%, 50%);

  fill: currentColor;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--hero-btn-accent-color);
}

/* --------------------Site Header!-------------------- */

/* -----Main nav----- */

.main-nav {
  display: flex;
  align-items: center;
}

/* -----Logo----- */

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  background-color: var(--primary-white-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  color: var(--primary-black-color);
}

.logo-part {
  color: var(--accent-color);
}

/* -----Site nav----- */

.site-nav {
  position: relative;

  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .item {
  position: relative;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-and-btn-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover {
  color: var(--accent-color);
}

/* I don't understand need it or no */

/* .site-nav .item::after {
  position: absolute;
  left: 0px;
  bottom: 0px;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  scale: 0;
}

.site-nav .item:hover::after {
  scale: 1;
} */

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  left: 0px;
  bottom: 0px;

  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* -----Contacts header----- */

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .item:not(:last-child) {
  margin-right: 30px;
}

.contacts-header .link {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-header .item .item-icon {
  fill: currentColor;

  display: inline-flex;

  margin-right: 10px;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

/* --------------------Main Index Part!-------------------- */

/* -----Hero----- */

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-hero-min.jpg");
  background-color: #c4c4c4;

  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* -----Section----- */

.section-title {
  margin-bottom: 0;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* -----Our features----- */

.features-list .list {
  display: flex;
  justify-content: space-between;
}

.features-list .list .item .icon-picture {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bgd-color);
  border-radius: 4px;
  color: var(--title-and-btn-color);
}

.features-list .list .item .icon-item {
  fill: currentColor;
}

.features-list .title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

/* -----Our progects----- */

.projects .list {
  display: flex;
  justify-content: space-between;
}

.projects .item {
  position: relative;
}

.projects .item .title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;

  display: flex;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.projects .section-title {
  margin-bottom: 50px;
}

/* -----Our team----- */

.team {
  background-color: var(--secondary-bgd-color);
}

.team .list {
  display: flex;
  justify-content: space-between;
}

.team .item-card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .section-title {
  margin-bottom: 50px;
}

.team .title-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .list-networks {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  place-items: center;
}

.team .social-networks {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-white-color);
  color: var(--networks-icon-color);
  border-radius: 50%;
}

.team .social-networks .icon-networks {
  fill: currentColor;
}

.team .social-networks:hover,
.team .social-networks:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* -----Our clients!----- */

.clients .title {
  margin-bottom: 0;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients .list {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(6, 170px);
  column-gap: 30px;
}

.clients .list .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;

  color: var(--networks-icon-color);
  border: 1px solid var(--networks-icon-color);
  border-radius: 4px;
}

.clients .list .link .icon-clients {
  fill: currentColor;
}

.clients .list .link:hover,
.clients .list .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* --------------------Main Portfolio Part!-------------------- */

.filtr {
  background-color: var(--primary-white-color);
}

.filtr .container.no-padding-bottom .list {
  display: flex;
  justify-content: center;
}

.filtr .container.no-padding-bottom .list .item:not(:last-child) {
  margin-right: 8px;
}

.filtr .container.no-padding {
  padding-top: 50px;
  padding-bottom: 94px;
}

.filtr .container.no-padding .list {
  display: flex;
  flex-wrap: wrap;
}

.filtr .container.no-padding .list .item {
  display: flex;
  width: calc(100%-60px) / 3;
  margin-right: 21px;
}

.filtr .container.no-padding .list .item:nth-child(3n) {
  margin-right: 0;
}

.filtr .container.no-padding .list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.filtr .container .item .title,
.filtr .container .item .text {
  margin-top: 0;
  margin-bottom: 0;
}

.filtr .container .item .title {
  padding-left: 24px;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filtr .container .item .text {
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 0;

  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
}

.filtr .container.no-padding .item {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--border-color);
}

.filtr .container.no-padding .list .item {
  background-color: var(--primary-white-color);
}

.filtr .container.no-padding .item:hover,
.filtr .container.no-padding .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-overlay {
  position: relative;
  overflow: hidden;
}

.filtr .container .item .filter-overlay.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;

  background-color: var(--accent-portfolio-bg-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.filtr .container .item:hover .filter-overlay.text {
  transform: translateY(0);
}

/* --------------------Site footer!-------------------- */

.page-footer {
  background-color: var(--footer-bgd-color);
}

.page-footer .container {
  display: flex;
}

/* -----Footer nav!----- */

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.container.footer-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  color: var(--primary-white-color);
}

.footer-mail.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--footer-contacts-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.page-footer .contacts-footer {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

/* -----Footer networks!----- */

.page-footer .networks {
  padding-top: 12px;
  margin-left: 88px;
}

.page-footer .networks .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.page-footer .list-networks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  place-items: center;
  margin-top: 20px;
}

.page-footer .list-networks .icon-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--footer-networks-bgd-color);
  border-radius: 50%;
}

.page-footer .list-networks .social-networks {
  color: var(--primary-white-color);
}

.page-footer .networks .icon-networks {
  display: block;
  fill: currentColor;
}

.page-footer .networks .icon-item:hover,
.page-footer .networks .icon-item:focus {
  background-color: var(--accent-color);
}

/* -----Footer subscribe!----- */

.page-footer .subscribe {
  padding-top: 12px;
  margin-left: auto;
}

.page-footer .subscribe .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.subscribe-form-field {
  position: relative;
  margin-top: 20px;
  display: inline-block;
}

.subscribe .form-label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe .form-input {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;

  color: rgba(255, 255, 255, 0.6);
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--primary-white-color);
  transform: translate(-75px, -50%);
}

.form-input:focus {
  border-color: var(--accent-color);
}

/* -----Modal window----- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(50%, -100%) rotate(2turn) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  max-width: 100%;
  height: 581px;
  max-height: 100%;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-modal .item-icon {
  fill: currentColor;
  color: var(--primary-black-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal .item-icon:hover,
.button-modal .item-icon:focus {
  color: var(--accent-color);
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.modal .text {
  margin-top: 0;
  margin-bottom: 12px;

  color: var(--title-and-btn-color);

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal .form {
  display: block;
}

.modal .form .modal-field {
  display: block;
}

.modal .form .modal-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  color: var(--primary-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal .form .modal-field .form-input {
  position: relative; 
}

.modal .form .modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  color: var(--title-and-btn-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form .icon-modal-input {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, 55%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: currentColor;
  color: var(--title-and-btn-color);
}

.modal .form .modal-input:focus {
  border-color: var(--accent-color);
  /* color: var(--accent-color); */
}

.modal .form .modal-input:focus + .icon-modal-input {
  color: var(--accent-color);
}

.modal .form .modal-textarea-group label {
  margin-bottom: 4px;

  display: block;
  color: var(--primary-color);
}

.modal .form .modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  color: var(--primary-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form .modal-textarea:focus {
  border-color: var(--accent-color);
  /* color: var(--accent-color); */
}

.modal .form .modal-textarea::placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-checkbox-group {
  /* position: relative; */
  margin-top: 20px;
}

.modal .form .modal-checkbox-label {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-color);

  display: flex;
  align-items: center;  
}

.modal .form .modal-checkbox-rules {
  display: block;
  margin-left: 0.4em;
  line-height: 0.7;
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
}

.modal .form .modal-checkbox-label::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-and-btn-color);
  border-radius: 2px; 
  margin-left: 15px;
  margin-right: 8px;  
}

.modal-checkbox:checked + .modal-checkbox-label::before {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/check-min.svg');
  background-size: contain;
  background-origin: border-box;
}

.modal .form .button-submit {
  padding-left: 0;
  text-align: center;

  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
