:root {
    --primary-color: #757575;
    --title-and-btn-color: #212121;
    --secondary-bgd-color: #f5f4fa;
    --footer-bgd-color: #2f303a;
    --accent-color: #2196f3;
    --hero-btn-accent-color: #188ce8;
    --primary-white-color: #ffffff;
    --footer-contacts-color: #ffffff60;
    --primary-black-color: #000000;
    --button-bgd-color: #f5f4fa;
    --networks-icon-color: #afb1b8;
    --border-color: #eeeeee;
    --footer-networks-bgd-color: rgba(255, 255, 255, 0.1);
    --accent-portfolio-bg-color: rgba(33, 150, 243, 0.9);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --color-header-border: #ececec;
}